<!doctype html>
<html class="no-js" lang="en">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="http://printer.gofreerange.com/stylesheets/print.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="http://printer.gofreerange.com/javascripts/printer.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $("#previewPage").click(Printer.previewPage);
        $("#printPage").click(function() {
          var printerID = prompt("Enter the URL of the printer to target");
          Printer.printPage(printerID, function(result) {
            if (result.response == "ok") {
              alert("Page successfully sent for printing");
            } else {
              alert("There was a problem sending this content");
              console.log("Error response", result);
            }
          });
        });
      })
    </script>
  </head>
  <body class="preview">
    <div class="controls">
      <a id="previewPage" href="#">Preview</a>
      <a id="printPage" href="#">Print</a>
    </div>
    <div class="paper">
      <div class="content">
        <header>
          <p class="app-title">Season's eatings</p>
          <p class="date"><%= Time.now.strftime("%A %d %B %Y") %></p>
          <p class="timestamp">Printed at <%= Time.now.strftime("%l:%M%P").strip %></p>
        </header>
        <section class="featured">
          <h1><span>In season for <%= Time.now.strftime("%B").strip %> </span><%= @featured %></h1>
          <p class="in-season-image"><img src="/images/tomato.png" alt="<%= @featured %>"></p>
        </section>
        <section class="recipe">
          <p>Stuffed Tomatoes: scoop 4lrg toms. Mince insides/shallot/8olives; mix+2c cookedrice/3T mayo&pinenuts/T olvoil/s+p. Fill toms. 20m@400F/200C.</p>
          <p class="credit">Recipe from @Cookbook - Maureen Evans, author of Eat Tweet, published by Artisan Books (2010).</p>
        </section>
        <section class="in-season">
          <h2>Also now in season</h2>
          <ul>
            <% @now_in_season.each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </section>
        <section class="last-chance">
          <h2>Last chance to eat</h2>
          <ul>
            <% @last_chance.each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </section>
        <section class="out-of-season">
          <h2>Now out of season</h2>
          <ul>
            <% @now_out_of_season.each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>